// 订单列表
mixin order(items)
    .order-list.row
        each item in items
            .col-md-8.col-sm-12
                a.list-item(href=(item.href))
                    .order-img
                        .img.lazyload(data-src="images/product.png")
                    .order-body
                        .order-status=item.title
                        .order-date 2019 / 03 / 10