ul.pagination.justify-content-center
    li.prev-page
        span 上一页
    li
        a(href="javascript:;") 1
    li
        a(href="javascript:;") 2
    li
        a(href="javascript:;") 3
    li.more
        span . . .
    li
        a(href="javascript:;") 10
    li.jump-page
        span 到第
        input(type="text" name="" id="" class="form-control")
        span 页
    li.next-page
        span 下一页