//- 引入基础布局，并重构
extends ./base
//- 头部
block head
    block head-main
block style
    block style-main
block content
    .zs-header
        .header
            .header-box.clearfix
                .header-left.float-left
                    .catalog.float-left
                        .icon.iconfont.iconmenu
                        .title 目录
                    a.d-block.float-left(href="javascript:;")
                        .phone
                            .icon.iconfont.icondianhua
                            .title 400-800-1098
                .header-center.float-left
                    a.logo.d-block(href="javascript:;")
                        img(src="../images/logo.png")
                .header-right.float-right
                    .search.js-search.float-right
                        .iconfont.iconsousuo
                    .user.float-right
                        a.d-block(href="javascript:;")
                            .iconfont.iconzhuce
                        .user-text
                            a.login.d-block(href="javascript:;") 登录
                            a.register.d-block(href="javascript:;") 注册




    block content-main

block foot

block script
    script(src='js/plugins/swiper/js/swiper.js')
    script.
        $(function () {})
    block script-main