//- 引入基础布局，并重构
extends ./base
//- 头部
block head
    block head-main
block style
    block style-main
block content
    header.header




    block content-main

block foot

block script
    script(src='js/plugins/swiper/js/swiper.js')
    script.
        $(function () {})
    block script-main