//- 引入基础布局，并重构
extends ./base
//- 头部
block head
    block head-main
    -
        var navArray = [{
        "navName": "首页",
        "url": "index.html",
        "active": "homePage"
        },{
        "navName": "关于我们",
        "url": "about.html",
        "active": "about",
        "children": [{
        "navName": "企业介绍",
        "url": "introduce.html",
        "src": "../images/two_nav_img01.png"
        },{
        "navName": "公司资质",
        "url": "aptitude.html",
        "src": "../images/two_nav_img02.png"
        },{
        "navName": "新闻动态",
        "url": "news.html",
        "src": "../images/two_nav_img03.png"
        },{
        "navName": "人才招聘",
        "url": "recruit.html",
        "src": "../images/two_nav_img04.png"
        }]
        },{
        "navName":"联系我们",
        "url":"contact.html",
        "active": "contact",
        "children": [{
        "navName": "联系客服",
        "url": "customer.html",
        "src": "../images/two_nav_img01.png"
        },{
        "navName": "商务合作",
        "url": "cooperation.html",
        "src": "../images/two_nav_img02.png"
        },{
        "navName": "媒体联系",
        "url": "media.html",
        "src": "../images/two_nav_img03.png"
        }]
        },{
        "navName":"帮助中心",
        "url":"help.html",
        "active": "help",
        "children": [{
        "navName": "线下门店",
        "url": "help.html",
        "src": "../images/two_nav_img04.png"
        },{
        "navName": "防伪查询",
        "url": "help.html",
        "src": "../images/two_nav_img05.png"
        },{
        "navName": "购买说明",
        "url": "help.html",
        "src": "../images/two_nav_img06.png"
        },{
        "navName": "物流说明",
        "url": "help.html",
        "src": "../images/two_nav_img05.png"
        },{
        "navName": "售后服务",
        "url": "help.html",
        "src": "../images/two_nav_img06.png"
        }]
        },{
        "navName":"皂石食器",
        "url":"food-utensils.html",
        "active": "food",
        "children": [{
        "navName": "墨域系列",
        "url": "mouyu.html",
        "src": "../images/two_nav_img04.png"
        },{
        "navName": "墨工系列",
        "url": "mogong.html",
        "src": "../images/two_nav_img05.png"
        },{
        "navName": "墨韵系列",
        "url": "moyun.html",
        "src": "../images/two_nav_img06.png"
        },{
        "navName": "定制",
        "url": "custom.html",
        "src": "../images/two_nav_img05.png"
        }]
        }]
block style
    block style-main
block content
    .zs-header
        .header
            .header-box.clearfix
                .header-left.float-left
                    .catalog.float-left
                        .icon.iconfont.iconmenu
                        .title 目录
                    a.d-block.float-left(href="javascript:;")
                        .phone
                            .icon.iconfont.icondianhua
                            .title 400-800-1098
                .header-center.float-left
                    a.logo.d-block(href="javascript:;")
                        img(src="../images/logo.png")
                .header-right.float-right
                    .search.js-search.float-right
                        .iconfont.iconsousuo
                    .user.float-right
                        a.d-block(href="javascript:;")
                            .iconfont.iconzhuce
                        .user-text
                            a.login.d-block(href="javascript:;") 登录
                            a.register.d-block(href="javascript:;") 注册
        .clearfix.mb-head
            a(href="index.html").pull-left.logo-box
                img(src="images/logo.png")
            .pull-right.nav-icon.js-nav-icon
                .icon-item
                .icon-item
                .icon-item
            .mb-aside-nav
                .mb-aside-nav-left
                .nav-list
                    .nav-head.clearfix
                        .close-icon.js-close-icon
                            img(src="images/close-icon.png")
                    .list-box
                        each $val in navArray
                            .list-item(class=($val.active == $active ? " active" : ""))
                                if($val.children)
                                    .list-name.js-list-name=$val.navName
                                    each $value in $val.children
                                        .sub-list
                                            a(href=$value.url).item=$value.navName
                                else
                                    .list-name.js-list-name
                                        a(href=$val.url)=$val.navName


    .backtop.js-backtop
        .iconfont.iconjiantou1

    block content-main

block foot
    footer.footer
        .footer-top.d-flex.justify-content-between.row
            .link-us
                .foot-title 联系我们
                p.d-flex.align-items-center
                    i.iconfont.icondizhi
                    span 上海市闵行区颛兴东路1277弄65栋
                p.d-flex.align-items-center
                    i.iconfont.iconxinfeng
                    a(href="mailTo:motuozaoshi@chsvc.com") motuozaoshi@chsvc.com
                p.d-flex.align-items-center
                    i.iconfont.icondianhua
                    a(href="Tel:motuozaoshi@chsvc.com") 400-800-1098
            ul.nav.footer-nav
                each items, index in navArray
                    if(index>0)
                        li
                           .foot-title=items.navName
                           if items.children
                               each item in items.children
                                    a(href="javascript:;")=item.navName
            .weixin
                .code
                    img(src="images/serve_code.png" width="100%")
                    p.text-center 皂石服务号
                .code
                    img(src="images/subscribe_code.png" width="100%")
                    p.text-center 皂石订阅号
        .footer-copy.text-center Copyright © 2013-2019 moyu All Right Reserved. 粤ICP备xxxxxxxx号
block script
    script(src='js/plugins/bootstrap/bootstrap.bundle.min.js')
    script(src='js/plugins/swiper/js/swiper.js')
    script(src='js/plugins/lazyload.min.js')
    script(src='js/index.js')
    script.
        $(function () {})
    block script-main