// 依赖
@import "../public/scss/functions";
@import "../public/scss/variables";
@import "../public/scss/mixins";
//基本样重置
ul, li, ol, li, dl, dd, dt {
  list-style: none;
  margin: 0;
  padding: 0;
}

a:hover {
  text-decoration: none;
}

:focus {
  outline: none;
}

body {
  font-family: "微软雅黑";
  font-size: rem(16);
  color: #080808;
}

.container {
  width: 100%;
}

.inner-content {
  max-width: 1240px;
  padding: 0 0.2rem;
  margin: 0 auto;
}

.transition-one {
  @extend .transition-one;
  transition: all 0.3s ease-in-out;
}

.btn {
  font-size: rem(16);
}

.lazyload {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

//头部
.zs-header{
  .header{
    height: rem(150);
    background: #FFFFFF;
    .header-box{
      max-width: rem(1600);
      height: 100%;
      margin: 0 auto;
      .header-left{
        height: 100%;
        line-height: 1.5rem;
        cursor: pointer;
        .catalog{
          display: flex;
          flex-direction: row;
          align-items: center;
          .iconfont{
            font-size: rem(30);
            color: #080808;
          }
          .title{
            font-size: rem(14);
            color: #080808;
            margin-left: rem(10);
          }
        }
        .phone{
          display: flex;
          flex-direction: row;
          align-items: center;
          margin-left: rem(48);
          .iconfont{
            font-size: rem(27);
            color: #080808;
          }
          .title{
            font-size: rem(18);
            color: #080808;
            margin-left: rem(10);
          }
        }
      }

      .header-center{
        height: 100%;
        line-height: 1.5rem;
        margin-left: rem(360);
        .logo{

          img{
            max-width: rem(330);
          }
        }
      }

      .header-right{
        height: 100%;
        line-height: 1.5rem;
        .search{
          margin-left: rem(50);
          .iconfont{
            font-size: rem(27);
            color: #080808;
            cursor: pointer;
          }
        }
        .user{
          display: flex;
          flex-direction: row;
          align-items: center;
          .iconfont{
            font-size: rem(27);
            color: #080808;
            margin-right: rem(13);
          }
          .user-text{
            display: flex;
            flex-direction: row;
            align-items: center;
            .login{
              font-size: rem(14);
              color: #080808;
            }
            .register{
              font-size: rem(14);
              color: #666666;
              margin-left: rem(18);
              position: relative;
              &:before{
                content: '/';
                width: rem(9);
                height: rem(11);
                color: #666666;
                position: absolute;
                left: rem(-13);
                top: 0;
              }
            }
          }
        }
      }
    }
    @media (max-width: 1620px) {
      padding-left: rem(20);
      padding-right: rem(20);
    }
  }
}
.backtop{
  width: rem(45);
  height: rem(45);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background-color: $base-color;
  position: fixed;
  right: rem(50);
  bottom: rem(50);
  z-index: 999;
  cursor: pointer;
  .iconfont{
    font-size: rem(18);
    color: #FFFFFF;
    line-height: rem(10);
  }
}
.mb-head{
  display: none;
}

.footer {
  .footer-top {
    padding: rem(60) 0 rem(130);
  }
  .footer-copy {
    font-size: 12px;
    line-height: 1;
    padding: rem(30);
    color: #999999;
  }
}


//移动端头部
@media (max-width: 768px){
  .zs-header{
    margin-bottom: rem(120);
  }
  .header{
    display: none;
  }
  .mb-head{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    padding: 0 20px;
    width: 100%;
    display: flex;
    height: rem(120);
    line-height: rem(120);
    background: #FFFFFF;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .mb-head .logo-box{
    line-height: rem(120);
    height: rem(120);
    width: 85%;
  }
  .mb-head .logo-box img{
    width: rem(230);
  }
  .mb-head .icon-item{
    margin: 5px 0;
    width: 25px;
    height: 3px;
    background: #333333;
  }
  .index-swiper .swiper-pagination-bullets{
    display: none;
  }
  .mb-aside-nav{
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 999;
    background: rgba(0,0,0,.6);
    display: none;
  }
  .mb-aside-nav-left{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 23%;
  }
  .mb-aside-nav .nav-list{
    position: absolute;
    right: -77%;
    top: 0;
    bottom: 0;
    width: 77%;
    background: #fff;
    overflow: scroll;
    z-index: 99999;
  }
  .mb-aside-nav .nav-list .close-icon{
    margin-right: 20px;
    height: 65px;
    line-height: 65px;
    float: right;
  }
  .mb-aside-nav .nav-list .close-icon img{
    width: 21px;
  }
  .mb-aside-nav .list-name{
    padding: 0 40px;
    height: 60px;
    line-height: 60px;
    width: 100%;
    color: #333;
    font-size: 18px;
  }
  .mb-aside-nav .list-name a{
    color: #333;
    font-size: 18px;
    display: block;
  }
  .mb-aside-nav .sub-list{
    display: none;
  }
  .mb-aside-nav .sub-list .item{
    padding: 0 40px;
    display: block;
    border-bottom: 1px solid #ddd;
    font-size: 16px;
    color: #999;
    height: 50px;
    line-height: 50px;
    background: #F5F5F5;
  }
  .mb-aside-nav .list-item.active .list-name{
    background: $base-color;
    color: #fff;
  }
  .mb-aside-nav .list-item.active .list-name a{
    background: $base-color;
    color: #fff;
  }
}

//首页
.zs-home{
  .spark-s1{
    height: rem(930);
    position: relative;
    overflow: hidden;
  }


  .spark-s1 .mask-list, .spark-s1 .video-cover-list {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9
  }

  .spark-s1 .video-cover-list {
    z-index: 8
  }

  .spark-s1 .mask-list:after, .spark-s1 .video-cover-list:after {
    content: '';
    display: block;
    height: 0;
    clear: both
  }

  .spark-s1 .mask-list .mask-item {
    height: 100%;
    width: 33.33%;
    float: left;
    position: relative;
    border-right: 1px solid rgba(51, 51, 51, 0);
    cursor: pointer;
    transition: all .5s ease-in-out
  }

  .spark-s1 .mask-list .mask-item .mask, .spark-s1 .mask-list .mask-item .section-bg {
    transition: all .5s ease-in-out
  }

  .spark-s1 .mask-list .mask-item .mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    z-index: 2
  }

  .spark-s1 .mask-list .mask-item .section-bg {
    opacity: 1;
    z-index: 1
  }

  .spark-s1 .mask-list .mask-item .text, .spark-s1 .mask-list .mask-item .top-text {
    width: 100%;
    transition: all .3s ease-in-out;
    position: absolute;
    z-index: 3
  }

  .spark-s1 .mask-list .mask-item .top-text {
    bottom: 8%;
    text-transform: uppercase;
    left: 15%;
    opacity: 0
  }

  .spark-s1 .mask-list .mask-item .top-text .title {
    font-size: 24px;
    color: #fff;
    font-family: "Gotham", "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", Arial, sans-serif
  }

  .spark-s1 .mask-list .mask-item .text {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 1
  }

  .spark-s1 .mask-list .title-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    .title-icon{
      width: rem(45);
      height: rem(45);
      margin-left: rem(25);
    }
  }

  .spark-s1 .mask-list .mask-item .text .title {
    font-size: rem(50) !important;
    color: #fff;
    font-weight: 300;
    font-family: "Gotham", "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", Arial, sans-serif;
  }


  .spark-s1 .mask-list .mask-item .bottom-text, .spark-s1 .mask-list .mask-item .video-tip {
    text-align: left;
    color: #fff;
    position: absolute;
    width: 100%;
    padding: 0 15%;
    display: none;
    z-index: 3
  }

  .spark-s1 .mask-list .mask-item .bottom-text {
    bottom: 5%;
    line-height: 28px;
    font-size: 16px
  }

  .spark-s1 .mask-list .mask-item .bottom-text .title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #fff;
    text-align: left;
    text-transform: uppercase;
    font-family: "Gotham", "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", Arial, sans-serif
  }

  .spark-s1 .mask-list .mask-item .video-tip {
    font-size: 14px;
    top: 5%;
    opacity: .5;
    font-family: "Open Sans", "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", Arial, sans-serif
  }

  .spark-s1 .mask-list:hover .mask-item {
    border-right: 1px solid rgba(112, 116, 115, .7)
  }

  .spark-s1 .mask-list:hover .mask-item .section-bg {
    opacity: 0
  }

  .spark-s1 .mask-list:hover .mask-item .mask {
    background: rgba(0, 0, 0, .4)
  }

  .spark-s1 .mask-list:hover .mask-item .top-text {
    opacity: .5
  }

  .spark-s1 .mask-list:hover .mask-item .text {
    opacity: 0
  }

  .spark-s1 .mask-list:hover .mask-item .bottom {
    display: none
  }

  .spark-s1 .mask-list .mask-item.active {
    color: #ddd
  }

  .spark-s1 .mask-list .mask-item.active .top-text {
    opacity: 0
  }

  .spark-s1 .mask-list .mask-item.active .bottom-text {
    display: block;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp
  }

  .spark-s1 .mask-list .mask-item.active .video-tip {
    display: block
  }

  .spark-s1 .video-cover-list .video-cover-item {
    height: 100%;
    width: 33.33%;
    float: left;
    position: relative;
    transition: opacity .5s ease-in-out
  }

  .spark-s1 .video-cover-list .video-cover-item .section-bg {
    background-color: #000;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .spark-s1 .video-list {
    width: 100%;
    height: 100%
  }

  .spark-s1 .video-list .video-item {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0
  }

  .spark-s1 .video-list .video-item .video-bg {
    position: relative;
    height: 100%;
    overflow: hidden
  }

  .spark-s1 .video-list .video-item .video-bg video, .spark-s1 .video-list .video-item .video-bg video[poster], section {
    width: 100%;
    height: 100%;
    object-fit: cover;
    font-family: 'object-fit: cover;';
  }
}

.title-classify{
  border-bottom: 1px #bbbbbb solid;
  align-items: center;
  justify-content: space-between;
  padding-bottom: rem(20);
  .left{
    font-size: rem(24);
    color: #666666;
  }
  .right{
    font-size: rem(14);
    color: #1c7acc;
  }
}
.zs-title{
  font-size: rem(40);
  color: #080808;
}

//帮助中心
.zs-help{
  background-color: #f8f8f8;
  padding: rem(80) 0 rem(100);
  .zs-help-content{
    margin-top: rem(65);
    .sort{
      display: none;
    }
    .help-item{
      margin-bottom: rem(40);
      position: relative;
      .name-box{
        background-color: #f0f0f0;
        height: rem(80);
        line-height: rem(80);
        padding: 0 rem(30);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        position: relative;
        z-index: 2;
        .name{
          font-size: rem(24);
          line-height: 1.5;
          color: #080808;
          display: inline-block;
        }
        .line{
          width: rem(20);
          height: rem(20);
          position: relative;
          .line-h{
            width: rem(20);
            height: rem(4);
            background-color: #999999;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
          }
          .line-s{
            width: rem(4);
            height: rem(20);
            background-color: #999999;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            @extend .transition-one;
          }
        }
      }
      .item-main{
        margin: 0 rem(-24);
        padding-bottom: rem(80);
        display: none;
        .tuwen-box{
          width: 100%;
          padding: rem(50) rem(24) 0;
          .img{
            height:rem(230);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
          }
          .bottom{
            padding: rem(30);
            background-color: #FFFFFF;
            .b-name{
              font-size: rem(18);
              color: #080808;
              line-height: 1.5;
              font-weight: bold;
            }
            .b-address{
              font-size: rem(12);
              color: #999999;
              line-height: 1.5;
              margin-top: rem(10);
            }
            .b-phone{
              font-size: rem(12);
              color: #999999;
              line-height: 1.5;
              margin-top: rem(5);
            }
          }
        }
        .text-box{
          width: 100%;
          padding: rem(50) rem(30);
          background-color: #FFFFFF;
          margin: 0 rem(24);
          .text{
            p{
              font-size: rem(18);
              line-height: 1.8;
              color: #666666;
            }
            .text-black{
              margin-top: rem(45);
              p{
                color: #080808;
              }
            }
          }
        }
      }
    }
    .active{
      .name-box{
        background-color: #FFFFFF;
        -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,.15);
        box-shadow: 0 2px 4px 0 rgba(0,0,0,.08);
        .name{
          color: $base-color;
        }
        .line{
          .line-h{
            background-color: $base-color;
          }
          .line-s{
            background-color: $base-color;
            opacity: 0;
          }
        }
      }
      .item-main{
        display: flex;
      }
    }
  }
}

//补充送货信息,选择新地址，普通发票
.zs-delivery{
  background-color: #f8f8f8;
  padding: rem(40) 0 rem(100);
  .delivery-content{
    padding-top: rem(80);
    .address-box{
      margin-top: rem(50);
      .address-title{
        font-size: rem(24);
        color: #080808;
        line-height: 1.5;
      }
      .address-main{
        margin-top: rem(28);
        padding-bottom: rem(80);
        border-bottom: 1px #dddddd solid;
        .left{
          padding-right: rem(50);
          .address-default{
            border:1px #bbbbbb solid;
            border-radius: 5px;
            padding: rem(15) rem(20);
            align-items: center;
            justify-content: space-between;
            .default-l{
              .name{
                font-size: rem(18);
                color: #080808;
                line-height: 1.5;
                font-weight: bold;
              }
              .info{
                font-size: rem(12);
                color: #999999;
                line-height: 1.3;
              }
              .phone{
                font-size: rem(12);
                color: #999999;
                line-height: 1.3;
              }
            }
            .default-r{
              font-size: rem(14);
              font-weight: bold;
              color: #080808;
            }
          }
          .modify-btn{
            margin: rem(18) 0 rem(27);
          }
          .address-new{
            border:1px #bbbbbb solid;
            border-radius: 5px;
            padding: 0 rem(20);
            margin-bottom: rem(20);
            display: flex;
            flex-direction: column;
            justify-content: center;
            .use{
              font-size: rem(18);
              color: #080808;
              font-weight: bold;
            }
            .title{
              font-size: rem(12);
              color: #999999;
            }
            .text{
              font-size: rem(18);
              color: #080808;
              border: none;
              background-color: transparent;
            }
            .phone{
              font-family: 'Arial';
            }
            .detail{
              font-size: rem(18);
              color: #999999;
              border: none;
              background-color: transparent;
            }
            select{
              font-size: rem(18);
              color: #080808;
              border: none;
              background-color: transparent;
              margin: 0 rem(-5);
              option{
                color: #080808;
              }
            }
          }
          .address-border{
            height: rem(90);
            box-sizing: border-box;
            &:hover{
              border: 2px #1d6650 solid;
            }
          }
          .active{
            border: 2px #1d6650 solid;
          }
        }
        .right{
          padding-left: rem(250);
          .attention{
            width: rem(350);
            float: right;
            .attention-title{
              font-size: rem(18);
              line-height: 1.5;
              color: #080808;
              font-weight: bold;
            }
            .attention-main{
              margin-top: rem(28);
              .item{
                margin-bottom: rem(30);
                .img{
                  flex: 0 1 rem(20);
                  width: rem(20);
                  height: rem(20);
                  background: url("../images/icon_yuan.png") no-repeat center/contain;
                  margin: rem(4) rem(20) 0 0;
                }
                .text{
                  flex: 1;
                  font-size: rem(14);
                  color: #999999;
                  line-height: 1.5;
                }
              }

            }
          }
        }
        @media (max-width: 576px){
          .left{
            padding-right: 0;
            .address-border{
              height: rem(120);
            }
          }
          .right{
            padding-left: 0;
            margin-top: rem(30);
            .attention{
              width: 100%;
            }
          }
        }
      }
    }
    .invoice-box{
      padding-top: rem(80);
      .invoice-main{
        padding-bottom: rem(80);
        border-bottom: 1px #dddddd solid;
        margin-top: rem(50);
        .left {
           padding-right: rem(50);
          .invoice-item{
            height: rem(90);
            border:1px #bbbbbb solid;
            border-radius: 5px;
            padding: rem(34) rem(20);
            margin-bottom: rem(20);
            display: flex;
            flex-direction: column;
            justify-content: center;
            &:hover{
              border: 2px #1d6650 solid;
            }
            .use{
              font-weight: bold;
              font-size: rem(18);
              color: #080808;
            }
          }
          .invoice-detail{
            padding: rem(25);
            background-color: #f0f0f0;
            .title{
              font-size: rem(18);
            }
            .detail-main{
              margin-top: rem(24);
              .invoice-item{
                background-color: #FFFFFF;
              }
            }
          }
          .company-box{
            margin-top: rem(20);
            .company{
              height: rem(65);
              margin-bottom: rem(20);
              border:1px #bbbbbb solid;
              border-radius: 5px;
              background-color: #FFFFFF;
              display: flex;
              flex-direction: column;
              justify-content: center;
              padding: 0 rem(15);
              &:hover{
                border:1px $base-color solid;
              }
              .name{
                font-size: rem(12);
                color: #999999;
              }
              .text{
                font-size: rem(18);
                border: none;
                background-color: transparent;
              }
              select{
                border: none;
                color: #999999;
                height: 100%;
                option{
                  color: #080808;
                }
              }
            }
            .active{
              border: 2px #1d6650 solid;
            }
          }
        }
        @media (max-width: 576px) {
          .left {
            padding-right: 0;
            .invoice-item {
              height: rem(120);
            }
            .company-box{
              .company{
                height: rem(90);
              }
            }
          }
        }
      }
    }
    .delivery-bottom{
      margin-top: rem(80);
      .btn-main{
        padding-right: rem(50);
      }
      .submit-btn{
        width: 100%;
        height: rem(90);
        font-size: rem(18);
        color: #ffffff;
        font-weight: bold;
        background-color: $base-color;
        border: none;
        border-radius: 5px;
      }
      @media (max-width: 576px){
        .btn-main{
          padding-right: 0;
          .submit-btn{
            height: rem(120);
          }
        }
      }
    }
  }
}

//支付订单
.zs-payment-order{
  background-color: #f8f8f8;
  padding: rem(40) 0 rem(100);
  .payment-order-content{
    padding-top: rem(75);
    .content1{
      align-items: center;
      padding: rem(65) 0 rem(80);
      border-bottom: 1px #dddddd solid;
      .left{
        padding-right: rem(60);
        .img{
          img{
            width: 100%;
            height: auto;
            border-radius: 5px;
          }
        }
      }
      .center{
        padding-left: rem(30);
        .title{
          font-size: rem(30);
        }
      }
      .right{
        display: flex;
        justify-content: flex-end;
        span{
          font-size: rem(30);
          font-weight: bold;
          margin-left: rem(13);
        }
      }
    }
  }
}



