// 依赖
@import "../public/scss/functions";
@import "../public/scss/variables";
@import "../public/scss/mixins";

.transform-one {
  transition: all 0.3s linear;
}

.com-more {
  font-size: rem(14);
  color: #1c7acc;
  padding-right: rem(14);
  background: url("../images/icon_logout.png") no-repeat center right/rem(5);
}

.com-title {
  font-size: rem(30);
  color: #080808;
  line-height: 1;
}

.pagination {
  li {
    margin: 0 rem(10);
    width: rem(36);
    height: rem(36);
    flex: 0 0 rem(36);
    text-align: center;
    >a {
      width: 100%;
      height: 100%;
      display: block;
      line-height: rem(36);
      font-size: rem(16);
      color: #999999;
      @extend .transform-one
    }
    &.prev-page>a {
      background-image: url("../images/icon_arrow_prev.png");
    }
    &.next-page>a {
      background: url("../images/icon_arrow_next.png");
    }
    &.prev-page,&.next-page {
      width: rem(70);
      flex: 0 0 rem(70);
      >a {
        background-color: #FFFFFF;
        background-repeat: no-repeat;
        background-size: rem(16);
        background-position: center;
      }
    }
    &.active,&:hover {
      >a {
        background-color: $base-color;
        color: #FFFFFF;
      }
    }
  }
}

.font-sm {
  font-size: rem(14)
}
.font-md {
  font-size: rem(18);
}
.font-lg {
  font-size: rem(30);
}

.color-1 {
  color: #080808;
}

.color-2 {
  color: #666666;
}

.color-3 {
  color: $base-color;
}

.fontArial {
  font-family: Arial;
}

//  个人中心
.order-list {
  margin: 0 rem(-22.5);
  >div {
    padding: 0 rem(23);
    margin-bottom: rem(43);
  }
  .list-item {
    display: block;
    width: 100%;
    .order-img {
      width: 100%;
      height: rem(315);
      overflow: hidden;
      .img {
        overflow: hidden;
        width: 100%;
        height: 100%;
        transform: none;
        transition: all 0.2s linear;
      }
    }
    .order-body {
      border: 1px solid #dddddd;
      background-color: #FFFFFF;
      border-top: 0;
      padding: rem(28) rem(30);
      line-height: 1;
      .order-status {
        font-size: rem(18);
        color: #080808;
        margin-bottom: rem(14);
      }
      .order-date {
        font-size: rem(12);
        color: #999999;
        font-family: Arial;
      }
    }
    &:hover {
      .order-img {
        .img {
          transform: scale(1.03);
        }
      }
    }
  }
}

.personal-center {
  background-color: #f8f8f8;
  .personal-top {
    padding: rem(50) 0 rem(20);
    border-bottom: 1px solid #bbbbbb;
    h4 {
      font-size: rem(24);
      line-height: 1;
      color: #666666;
    }
    .logout {
      @extend .com-more;
      line-height: 1;
    }
  }
  .personal-info {
    padding: rem(80) 0;
    line-height: 1;
    .personal-name {
      font-size: rem(40);
      color: #080808;
      margin-bottom: rem(26);
    }
    .personal-phone {
      font-size: rem(24);
      color: #080808;
      font-family: Arial;
    }
  }
  .personal-order {
    overflow: hidden;
    background-color: #FFFFFF;
    padding: rem(84) 0 rem(38);
    .title {
      margin-bottom: rem(40);
      h5 {
        @extend .com-title;
        margin-right: rem(80);
      }
      .more {
        @extend .com-more;
        line-height: rem(24);
      }
    }
  }
  .account-settings {
    padding: rem(75) 0;
    border-bottom: 1px solid #dddddd;
    .first {
      >h5 {
        @extend .com-title;
        margin-bottom: rem(40);
      }
      >p {
        font-size: rem(18);
        color: #080808;
        line-height: 1;
        margin-bottom: rem(20);
      }
      .edit {
        @extend .com-more;
        line-height: 1;
      }
    }
    .a-title {
      font-size: rem(18);
      color: #080808;
      line-height: 1;
      margin-bottom: rem(24);
    }
    .txt {
      font-size: rem(14);
      line-height: rem(26);
      color: #666666;
    }
    .address {
      padding-left: rem(30);
    }
    .info {
      padding-left: rem(20);
    }
  }
  .password-security {
    padding: rem(80) 0 rem(100);
    >h5 {
      @extend .com-title;
      margin-bottom: rem(40);
    }
    .password-btn {
      width: rem(500);
      height: calc(0.88rem + 2px);;
      max-width: 100%;
      background-color: #f0f0f0;
      border: 1px solid #bbbbbb;
      border-radius: rem(5);
      padding: 0 rem(20);
      line-height: rem(88);
      font-size: rem(18);
      color: #666666;
      text-align: left;
    }
  }
}

.personal-orderList {
  background-color: #f8f8f8;
  padding: rem(80) 0 rem(100);
  .title {
    font-size: rem(40);
    line-height: 1;
    color: #080808;
    margin-bottom: rem(50);
  }
  .order-list {
    margin-bottom: rem(35);
  }
  .helpPhone {
    font-size: rem(18);
    color: #080808;
    line-height: rem(36);
    a {
      color: #1c7acc;
      font-family: Arial;
      letter-spacing: rem(2);
      padding-left: rem(5);
    }
  }
}

.order-detail {
  background-color: #f8f8f8;
  padding: rem(80) 0 rem(60);
  line-height: rem(26);
  .title {
    font-size: rem(40);
    color: #080808;
    line-height: 1;
    margin-bottom: rem(60);
  }
  .product-top {
    padding-bottom: rem(80);
    .img {
      max-width: rem(340);
    }
    .info {
      padding-left: rem(30);
      line-height: rem(36);
      .name {
        @extend .font-lg;
        @extend .color-1;
        margin-bottom: rem(30);
        line-height: 1;
      }
      .w-title {
        width: rem(92);
        display: inline-block;
      }
      .w-txt {
        width: rem(125);
        display: inline-block;
      }
      .warning {
        font-size: 12px;
        color: $base-color;
        padding-left: rem(20);
      }
    }
  }
  .order-content {
    .w-title {
      width: rem(82);
      display: inline-block;
    }
    >div {
      border-top: 1px solid #dddddd;
      padding: rem(80) 0 rem(75);
      &.total {
        padding: rem(40) 0;
        line-height: 1;
      }
    }
    .order-title {
      @extend .font-lg;
      @extend .color-1;
      line-height: 1;
    }
    .paddingLeft {
      padding-left: rem(30);
    }
    .marginBottom {
      margin-bottom: rem(20);
    }
    .content3{
      padding: rem(80) 0 rem(20);
      border-bottom: 1px solid #dddddd;
      .left{
        .form-group {
          margin-bottom: rem(20);
          position: relative;
          .label {
            position: absolute;
            font-size: rem(18);
            color: #999999;
            left: rem(20);
            top: 50%;
            transform: translateY(-50%);
            transition-property: all;
            transition-timing-function: ease-in;
            transition-duration: .125s;
          }
          .form-control {
            height: 0.9rem;
            padding: rem(40) rem(140) rem(20) rem(20);
            font-size: rem(18);
            line-height: rem(28);
            color: #080808;
            background-color: transparent;
            border:1px #bbbbbb solid;
            &:focus{
              border-color: $base-color;
            }
            &:focus ~ .label {
              top: rem(20);
              font-size: rem(12);
              transform: none;
            }
          }
          .form-textbox-entered ~ .label {
            top: rem(20);
            font-size: rem(12);
            transform: none;
          }
          @media (max-width: 576px){
            .label{
              font-size: rem(24);
            }
            .form-control{
              height: rem(120);
              font-size: rem(24);
              &:focus ~ .label {
                top: rem(24);
                font-size: rem(20);
              }
            }
            .form-textbox-entered ~ .label {
              top: rem(24);
            }
          }
        }
      }
      .total-box{
        .left{
          font-size: rem(30);
          font-weight: bold;
        }
        .right{
          padding-left: rem(30);
          .main{
            .item{
              font-size: rem(14);
              margin-bottom: rem(18);
              .item-title{
                color: #666666;
                width: rem(80);
              }
              .text{
                font-weight: bold;
              }
            }
          }
        }
        @media (max-width: 576px){
          margin-top: rem(30);
          .right{
            padding-left: rem(30);
            .main{
              .item{
                font-size: rem(24);
                margin-bottom: rem(18);
                .item-title{
                  color: #666666;
                  width: rem(140);
                }
                .text{
                  font-weight: bold;
                }
              }
            }
          }
        }
      }
    }
    .content4{
      padding-top: rem(35);
      .right{
        padding-left: rem(30);
        .top{
          justify-content: space-between;
          .top-l{
            font-size: rem(30);
            font-weight: bold;
          }
          .top-r{
            font-size: rem(30);
            font-weight: bold;
            span{
              margin-left: rem(13);
            }
          }
        }
        .center{
          align-items: center;
          justify-content: center;
          margin-top: rem(40);
          .name{
            font-size: rem(18);
            margin-right: rem(15);
            font-weight: bold;
          }
          .choose{
            width: rem(150);
            height: rem(50);
            border:1px #bbbbbb solid;
            background-color: #FFFFFF;
            text-align: center;
            line-height: rem(44);
            box-sizing: border-box;
            overflow: hidden;
            margin-left: rem(15);
            img{
              height: rem(36);
            }
          }
          .active{
            border:2px $base-color solid;
          }
        }
        .bottom{
          margin-top: rem(80);
          padding-left: rem(210);
          .pay-btn{
            width: 100%;
            height: rem(90);
            background-color: $base-color;
            color: #FFFFFF;
            font-size: rem(18);
            font-weight: bold;
            border: none;
          }
        }
      }
      @media (max-width: 576px){
        .right{
          padding-left: 0;
          .center{
            justify-content: flex-start;
            .name{
              font-size: rem(28);
            }
            .choose{
              width: rem(200);
              height: rem(80);
              border:1px #bbbbbb solid;
              text-align: center;
              line-height: rem(74);
              box-sizing: border-box;
              overflow: hidden;
              margin-left: rem(15);
              img{
                height: rem(60);
              }
            }
          }
          .bottom{
            padding-left: 0;
          }
        }

      }
    }
    .no-invoice{
      p{
        font-size: rem(18);
        color: #666666;
        font-weight: bold;
      }
    }
    .has-invoice{
      .title{
        font-size: rem(18);
        font-weight: bold;
        margin-bottom: 0;
      }
      .main{
        font-size: rem(14);
        color: #666666;
        margin-top: rem(20);
      }
    }
  }
}

.password-layer {
  width: rem(800);
  height: rem(640);
  overflow: hidden;
  padding: rem(50) rem(80) rem(55);
  .title {
    font-size: rem(24);
    line-height: 1;
    color: #080808;
    margin-bottom: rem(40);
  }
  .form {
    .form-group {
      margin-bottom: rem(20);
      position: relative;
      .send-code {
        width: rem(120);
        height: rem(44);
        line-height: rem(44);
        background-color: $base-color;
        border-radius: rem(22);
        font-size: rem(12);
        color: #ffffff;
        position: absolute;
        top: 50%;
        margin-top: rem(-22);
        right: rem(20);
        z-index: 2;
        text-align: center;
        cursor: pointer;
        padding: 0;
        border: 0;
      }
      .label {
        position: absolute;
        font-size: rem(18);
        color: #999999;
        left: rem(20);
        top: 50%;
        transform: translateY(-50%);
        transition-property: all;
        transition-timing-function: ease-in;
        transition-duration: .125s;
        z-index: 3;
      }
      .form-control {
        height: 0.9rem;
        padding: rem(40) rem(140) rem(20) rem(20);
        font-size: rem(18);
        line-height: rem(28);
        color: #080808;
        position: relative;
        z-index: 2;
        background-color: transparent;
        border:1px #bbbbbb solid;
        &:focus{
          border-color: $base-color;
        }
        &:focus ~ .label {
          top: rem(20);
          font-size: rem(12);
          transform: none;
        }
      }
      .form-textbox-entered ~ .label {
        top: rem(20);
        font-size: rem(12);
        transform: none;
      }
    }
    .form-btn {
      margin-top: rem(70);
      .btn {
        height: rem(90);
        text-align: center;
        padding: 0;
        font-size: rem(18);
      }
      .reset {
        background-color: #f0f0f0;
        color: #999999;
      }
      .submit {
        color: #ffffff;
        background-color: $base-color;
      }
    }
  }
}

.edit-layer {
  width: rem(800);
  height: rem(750);
  overflow: hidden;
  padding: rem(50) rem(80) rem(55);
  .title {
    font-size: rem(24);
    line-height: 1;
    color: #080808;
    margin-bottom: rem(40);
  }
  .form {
    .form-group {
      margin-bottom: rem(20);
      position: relative;
      .label {
        position: absolute;
        font-size: rem(18);
        color: #999999;
        left: rem(20);
        top: 50%;
        transform: translateY(-50%);
        transition-property: all;
        transition-timing-function: ease-in;
        transition-duration: .125s;
        z-index: 3;
      }
      .form-control {
        height: 0.9rem;
        padding: rem(40) rem(140) rem(20) rem(20);
        font-size: rem(18);
        line-height: rem(28);
        color: #080808;
        position: relative;
        z-index: 2;
        background-color: transparent;
        border:1px #bbbbbb solid;
        &:focus{
          border-color: $base-color;
        }
        &:focus ~ .label {
          top: rem(20);
          font-size: rem(12);
          transform: none;
        }
      }
      .form-textbox-entered ~ .label {
        top: rem(20);
        font-size: rem(12);
        transform: none;
      }
    }
    .form-btn {
      margin-top: rem(70);
      .btn {
        height: rem(90);
        text-align: center;
        padding: 0;
        font-size: rem(18);
      }
      .reset {
        background-color: #f0f0f0;
        color: #999999;
      }
      .submit {
        color: #ffffff;
        background-color: $base-color;
      }
    }
  }
}





