extends ../public/pug/layouts/main
block head-main
    -var $active = "homePage"
    -var $index = 0
block style-main


block content-main
    .zs-help
        .inner-content
            .zs-title 帮助中心
            .zs-help-content.js-help
                .sort #{$index}
                .help-item
                    .name-box
                        .name 线下门店
                        .line
                            .line-h
                            .line-s
                    .item-main.row
                        .tuwen-box.col-md-8
                            .img(style="background-image: url('/images/img_01.jpg')")
                            .bottom
                                .b-name 七宝
                                .b-address 上海市闵行区漕宝路 3366 号七宝万科广场
                                .b-phone 4006171324
                        .tuwen-box.col-md-8
                            .img(style="background-image: url('/images/img_02.jpg')")
                            .bottom
                                .b-name 上海环贸 iapm
                                .b-address 上海市徐汇区淮海中路 999 号环贸 iapm 商场
                                .b-phone 4006171324
                        .tuwen-box.col-md-8
                            .img(style="background-image: url('/images/img_03.jpg')")
                            .bottom
                                .b-name 五角场
                                .b-address 五角场上海市杨浦区翔殷路 1099 号上海合生汇
                                .b-phone 4006139771
                .help-item
                    .name-box
                        .name 防伪查询
                        .line
                            .line-h
                            .line-s
                    .item-main
                        .text-box
                            .text
                                p 请通过微信搜索并关注我们的公众号“皂石石器” / “皂石时代”，点击防伪查询来验证您购买的产品。
                                p 您也可以通过微信 / 支付宝 / 浏览器中的二维码识别功能，扫描产品的二维码来验证您购买的产品。
                                p 如需帮助请拨打：400-800-1098
                .help-item
                    .name-box
                        .name 购买说明
                        .line
                            .line-h
                            .line-s
                    .item-main
                        .text-box
                            .text
                                p 1)  选择商品，点击购买
                                p 2)  结算
                                p 3)  填写收货信息和支付信息等内容并提交订单
                                p 4)  按照网页指示付款
                .help-item
                    .name-box
                        .name 物流说明
                        .line
                            .line-h
                            .line-s
                    .item-main
                        .text-box
                            .text
                                p 中国大陆地区，全场默认发顺丰陆运，暂时不支持空运服务。
                                p 顺丰快递网点覆盖不到的地方，我司则会选择用EMS安排。
                                p 具体覆盖网点请参考：顺丰官网/EMS官网。
                                p 运费将在您结算订单时根据收货地址的不同显示不同价格。

                                .text-black
                                    p 如果您对发货有任何特别要求，请一定提前联系我们的售前客服进行咨询。
                                    p 请您在付款前核对收货信息,如因个人疏忽填错地址，请及时与客服联系，我们会尽量为您联系快递协商处理，但因地址修改而产生的风险和费用需要由客户承担。
                                    p 因以下原因导致延误或退回的，大疆将不承担责任：
                                    p 1) 部份城市的偏远地区因交通等问题，配送时间可能在预计到达时间基础上延后1-2天;
                                    p 2) 因买家原因（更改收货地址、地址不详、地址错误、联系不上、拒收、无代收人等）导致包裹延误派送
                                    p 或无法送达的;
                                    p 3) 因不可抗力造成延误的（“不可抗力”指不可预见、不可避免或不可克服的客观情况以及其他影响配送
                                    p 时间、造成包裹配送延误的客观情况，包括但不限于全国性或区域性空中或地面交通系统管制或中断（如
                                    p 天气原因等）、或通讯系统干扰或故障、或政府行为、邮政主管部门政策变化、战争、地震、台风、洪水、
                                    p 火灾、大雨、大雾等其他类似事件）
                                    p 4) 航空违禁品、手机、电子类产品、易碎品等因航空安检查验导致无法正常配载航班或改走陆路运输的;
                                    p 5) 寄递物品违反禁、限寄规定或有关运输管理条例，经有关部门没收或依照有关法规、规定处理的;
                                    p 5) 收件人地址为机关、单位等机构，而周六、周日和公众节假日不接收邮件、包裹，造成延误的;
                                    p 7) 收件人学校、单位或住宅小区不允许投递人员入内，或买家代收方原因，导致造成延误的。
                .help-item
                    .name-box
                        .name 售后服务
                        .line
                            .line-h
                            .line-s
                    .item-main
                        .text-box
                            .text
                                p 1)  本公司为本产品提供3个月质保服务。
                                p 2)  产品在保质期内如果出现任何质量问题，将按“三包”原则免费更换。
                                p 3)  质保过期后，本公司将继续为其提供长期咨询服务。
                                p 4)  请保证每月至少使用并保养一次石锅，以延长使用寿命。保养方法请在官网或说明书中查看。




block script-main
    script.
        $(function () {
            var $index = $(".sort").text();
            if($(".js-help").length){
                $(".help-item").eq($index).addClass('active');
                $(".name-box").click(function () {
                    if($(this).parent().hasClass('active')){
                        $(this).parent().removeClass('active').siblings().removeClass('active');
                        $(this).siblings(".item-main").slideUp("slow");
                    }else{
                        $(this).parent().addClass('active').siblings().removeClass('active');
                        $(this).siblings(".item-main").slideDown("slow");
                    }
                })
            }
        })

