extends ../public/pug/layouts/main
block head-main
    -var $active = "homePage"
block style-main


block content-main
    .zs-home
        section.spark-s1.dji-edit-module
            .mask-list
                .mask-item.ga-data(data-target='0', data-ga-category='spark_detail', data-ga-action='mouseenter', data-ga-label='s1_pipeline_01')
                    .mask
                    .bottom-text
                        h2.title 铸
                            img.title-icon(src="/images/icon_circular.png")
                        p.web-font 这就是皂石，探索全新的食器时代
                .mask-item(data-target='1', data-ga-category='spark_detail', data-ga-action='mouseenter', data-ga-label='s1_pipeline_02')
                    .mask
                    .bottom-text
                        h2.title 精
                            img.title-icon(src="/images/icon_circular.png")
                        p.web-font 我们检测天然皂石，并给出一份报告
                .mask-item(data-target='2', data-ga-category='spark_detail', data-ga-action='mouseenter', data-ga-label='s1_pipeline_03')
                    .mask
                    .bottom-text
                        h2.title 巧
                            img.title-icon(src="/images/icon_circular.png")
                        p.web-font 皂石食器，成就食物之美
            .video-cover-list
                .video-cover-item(data-target='0', style='width: 33.33%; opacity: 1;')
                    .section-bg(style='background-image: url("/images/home_banner_01.jpg"); opacity: 1;')
                .video-cover-item(data-target='1', style='width: 33.33%; opacity: 1;')
                    .section-bg(style='background-image: url("/images/home_banner_02.jpg"); opacity: 1;background-position: right;')
                .video-cover-item(data-target='2', style='width: 33.33%; opacity: 1;')
                    .section-bg(style='background-image: url("/images/home_banner_03.jpg"); opacity: 1;background-position: left;')
            .video-list
                .video-item(data-target='0', style='opacity: 0;')
                    .video-bg
                        video(src='/video/01.mp4', preload='auto', loop='loop', type='video/mp4; codecs="avc1.4D401E, mp4a.40.2"', muted='muted')
                .video-item(data-target='1', style='opacity: 0;')
                    .video-bg
                        video(src='/video/02.mp4', preload='auto', loop='loop', type='video/mp4; codecs="avc1.4D401E, mp4a.40.2"', muted='muted')
                .video-item(data-target='2', style='opacity: 0;')
                    .video-bg
                        video(src='/video/03.mp4', preload='auto', loop='loop', type='video/mp4; codecs="avc1.4D401E, mp4a.40.2"', muted='muted')
        .explore-section
            .title.text-center 探索皂石
            .main.row
                .col-md-8
                    .list-item
                        a(href="javascript:;").pro-content
                            img(src="images/img_05.png" width="100%")
                            .bottom
                                .b-title 墨域
                                .more
                                    span 更多系列产品
                        .tips
                            a(href="javascript:;").btn 炖锅
                            a(href="javascript:;").btn 汤锅
                            a(href="javascript:;").btn 炖锅
                        .text-center
                            a.btn.customized(href="javascript:;") 定制
                .col-md-8
                    .list-item
                        a(href="javascript:;").pro-content
                            img(src="images/img_06.png" width="100%")
                            .bottom
                                .b-title 墨工
                                .more
                                    span 更多系列产品
                        .tips
                            a(href="javascript:;").btn 餐具
                            a(href="javascript:;").btn 瓷盘
                            a(href="javascript:;").btn 餐具
                        .text-center
                            a.btn.customized(href="javascript:;") 定制
                .col-md-8
                    .list-item
                        a(href="javascript:;").pro-content
                            img(src="images/img_05.png" width="100%")
                            .bottom
                                .b-title 墨韵
                                .more
                                    span 更多系列产品
                        .tips
                            a(href="javascript:;").btn 煎锅
                            a(href="javascript:;").btn 奶锅
                            a(href="javascript:;").btn 煎锅
                        .text-center
                            a.btn.customized(href="javascript:;") 定制

        .home-video
            img(src="images/img_08.jpg" width="100%")
            .main.text-center.fadeIn.js-fadeInUp
                p 重新定义食器 · 皂石
                .play-btn.js-play
        .home-contact-info
            .home-container.d-flex.justify-content-between
                .logo
                    img(src="images/home_logo.png" width="100%")
                .main
                    .title 第一时间了解·皂石
                    .txt 可以在这里留下您的联系方式，探索我们的故事 / 产品和每一次惊喜
                    form.form.d-flex.flex-md-row.flex-column
                        .form-group
                            input(type="text" class="form-control name")
                            label 您的姓名
                                sup *
                        .form-group
                            input(type="email" class="form-control email")
                            label 电子邮箱地址
                                sup *
                .submit.float-right
                    span 提交
                    img(src="images/icon_submit.png")
    .video-layer(style="display:none")
        video#video(width="100%" controls src='/video/01.mp4', preload='auto', type='video/mp4; codecs="avc1.4D401E, mp4a.40.2"', muted='muted')
block script-main
    script(src='js/spark.min.js')
    script.
        $(function () {
            $(".js-play").click(function () {
                layer.open({
                    title: "",
                    type: 1,
                    area: '60%',
                    content: $(".video-layer"),
                    success: function () {
                        $(".layui-layer").css({
                            "background-color": "transparent"
                        })
                        $("#video")[0].play(); // 播放
                    },
                    close: function () {

                    }
                });
            })
        })

