extends ../public/pug/layouts/main
block head-main
    - $innerActive = "banner1"
    -var bannerNav = [{"title":"企业介绍","link":"企业介绍.html","active": 'banner1'},{"title":"公司资质","link":"公司资质.html"},{"title":"新闻动态","link":"新闻动态.html"},{"title":"人才招聘","link":"人才招聘.html"},{"title":"联系我们","link":"联系我们.html"}]

block style-main


block content-main
    .zs-company-introduce
        .zs-banner
            .banner
            .nav-box
                .container
                    .nav-list.row
                        each $val in bannerNav
                            .list-item(class=($val.active==$innerActive?"active":""))
                                a(href=$val.link) #{$val.title}

        .zs-introduce-box
            .container
                .zs-title.text-center 皂石故事
                .introduce-list
                    .introduce-item.row
                        .left.col-md-14
                            .left-l
                                img(src="/images/icon_yuan_46.png")
                            .left-r
                                .left-r-main
                                    .title 墨脱石锅文化产业有限公司
                                    .sub-title 地处“莲花秘境”墨脱县，是当地重点招商引资扶贫企业，也是国家地理标志保护产品“墨脱石锅®”商标的唯一授权企业。
                                    .text 我们以墨脱的珍稀天然皂石矿为原材料，专注于开发墨脱石锅及其附属产品。在生产方面坚持传统的手工制作工艺，精益求精；并聘请了多位国家级、省级石雕大师参与产品的定样设计，融合现代与传统之美，起到画龙点睛的效果。
                                .border
                        .right.col-md-10
                            img(src="/images/introduce_img_01.jpg")
                    .introduce-item.row
                        .right.col-md-10
                            img(src="/images/introduce_img_02.jpg")
                        .left.col-md-14
                            .left-l
                                img(src="/images/icon_yuan_46.png")
                            .left-r
                                .left-r-main
                                    .title 企业采用科学的管理模式，对每一批原材料进行全面的评估监测，让所有的生产过程规范化透明化，确保每一件产品的品质和养生功效。
                                    .sub-title 墨脱石锅不止是一件产品，更是一种新的生活文化。加入我们，开创厨房的藏·石器时代。
                                .border
                .culture
                    .title.text-center 皂石文化
                    .row
                        .list-item.col-md-8.col-24.text-center
                            .iconfont.icontuandui
                            .subtitle 团队
                            p 共享共担，非凡人平常心做非凡事
                        .list-item.col-md-8.col-24.text-center
                            .iconfont.iconfuwu
                            .subtitle 客户
                            p 客户第一，让一切在沟通中变得可能
                        .list-item.col-md-8.col-24.text-center
                            .iconfont.iconhangdong
                            .subtitle 匠心
                            p 专业执着，精益求精








block script-main
    script.
        $(function () {

        })



