extends ../public/pug/layouts/main
block head-main
    -var $active = "homePage"

block style-main


block content-main
    .zs-delivery
        .container
            .title-classify.row
                .left 结账
                .right 如需帮助，请拨打 400-666-888
            .delivery-content
                .zs-title 你的送货地址是哪里？
                .address-box
                    .address-title 选择地址：
                    .address-main.row
                        .left.col-md-12
                            .address-default.address-border.row
                                .default-l
                                    .name 王泽祥
                                    .info 上海市，虹口区，广粤路835弄1号楼601室
                                    .phone 17521035241
                                .default-r 默认地址
                            .modify-btn
                                a.d-block(href="javascript:;") 修改地址
                            a.address-new.address-border.js-new-address.active(href="javascript:;")
                                .use 使用新的地址
                            form.new-address-main
                                .form-group
                                    input.form-control(type="text" value="" name="name" id="name")
                                    label.label 您的姓名
                                .form-group
                                    input.form-control(type="text" value="" name="phone" id="phone")
                                    label.label 您的电话
                                #distpicker
                                    .form-group
                                        input#city-picker3.form-control.city-picker-input(readonly='', type='text', value='', data-toggle='city-picker')
                                        label.label 省份/城镇/城市/区
                                        .iconfont.iconxiala.city-picker-arrow
                                .form-group
                                    input.form-control(type="text" value="" name="phone" id="address")
                                    label.label 详细地址


                        .right.col-md-12
                            .attention
                                .attention-title 请注意以下几点：
                                .attention-main
                                    .item.row
                                        .img
                                        .text 我们将使用收件人手机号码来发送有关送货状态更新的短信。
                                    .item.row
                                        .img
                                        .text 我们将使用联系人电话号码来沟通有关订单或付 款方面的事宜。
                                    .item.row
                                        .img
                                        .text 请核实您输入的联系方式是否正确，下单后将无法修改。


                .invoice-box
                    .zs-title 你是否需要开具发票？
                    .invoice-main.row
                        .left.col-md-12
                            .invoice-item.js-no-use.active
                                .use 无需发票
                            .invoice-item.js-use
                                .use 普通发票
                            .invoice-detail
                                .title 选择发票抬头
                                .detail-main
                                    .invoice-item.js-personal.active
                                        .use 个人
                                    .invoice-item.js-other
                                        .use 其他发票抬头
                                form.company-box
                                    .title 请输入详细的发票抬头
                                    .form-group
                                        input.form-control(type="text" value="" name="companyName" id="companyName")
                                        label.label 发票抬头/公司
                                    .form-group
                                        input.form-control(type="text" value="" name="tax" id="tax")
                                        label.label 纳税人识别号 (可选)


                            .invoice-item.js-use-zzs
                                .use 增值税专用发票
                                .tap 需要通过公司银行庄户转账付款
                            .invoice-detail-zzs
                                form.company-box.d-block
                                    .title 公司信息
                                    .form-group
                                        input.form-control(type="text" value="" name="companysName" id="companysName")
                                        label.label 公司注册名称
                                    .form-group
                                        input.form-control(type="text" value="" name="taxzzs" id="taxzzs")
                                        label.label 纳税人识别号
                                    .form-group
                                        input.form-control(type="text" value="" name="detailAddress" id="detailAddress")
                                        label.label 详细地址（包括省份/城镇/城市/区）
                                    .form-group
                                        input.form-control(type="text" value="" name="companyPhone" id="companyPhone")
                                        label.label 公司注册电话
                                form.company-box.d-block
                                    .title 公司银行账户
                                    .form-group
                                        input.form-control(type="text" value="" name="bankName" id="bankName")
                                        label.label 开户行名称
                                    .form-group
                                        input.form-control(type="text" value="" name="bankAccount" id="bankAccount")
                                        label.label 银行账户


                .delivery-bottom.row
                    .btn-main.col-md-12
                        input.submit-btn(type="submit" value="继续支付订单")



block script-main
    script(src='js/address/city-picker.data.js')
    script(src='js/address/city-picker.js')
    script.
        $(function () {
            var newAddress = $(".js-new-address");
            var newAddressMain = $(".new-address-main");
            if(newAddress.length){
                if(newAddress.hasClass('active')){
                    newAddressMain.show();
                }
                else{
                    newAddressMain.hide();
                }
                newAddress.click(function () {
                    var _this = $(this);
                    if(_this.hasClass('active')){
                        _this.removeClass('active');
                        newAddressMain.slideUp(500);
                    }else{
                        _this.addClass('active');
                        newAddressMain.slideDown(500);
                    }
                })
            }

            var used = $(".js-use");
            var noUsed = $(".js-no-use");
            var usedZzs = $(".js-use-zzs");
            var invoiceDetail = $(".invoice-detail");
            var invoiceDetailZzs = $(".invoice-detail-zzs");
            if (used.hasClass('active')) {
                invoiceDetail.show();
            } else {
                invoiceDetail.hide();
            }
            if (usedZzs.hasClass('active')) {
                invoiceDetailZzs.show();
            } else {
                invoiceDetailZzs.hide();
            }

            noUsed.click(function () {
                $(this).addClass('active').siblings().removeClass('active');
                invoiceDetail.slideUp(500);
                invoiceDetailZzs.slideUp(500);
            })
            used.click(function () {
                $(this).addClass('active').siblings().removeClass('active');
                invoiceDetail.slideDown(500);
                invoiceDetailZzs.slideUp(500);
            })
            usedZzs.click(function () {
                $(this).addClass('active').siblings().removeClass('active');
                invoiceDetailZzs.slideDown(500);
                invoiceDetail.slideUp(500);
            })

            var other = $(".js-other");
            var personal = $(".js-personal");
            var companyBox = $(".company-box");
            if(other.hasClass('active')){
                companyBox.show();
            }else{
                companyBox.hide();
            }
            personal.click(function () {
                $(this).addClass('active');
                other.removeClass('active');
                companyBox.slideUp(500);
            })
            other.click(function () {
                $(this).addClass('active');
                personal.removeClass('active');
                companyBox.slideDown(500);
            })


            $("input").each(function () {
                var vl = $(this).val();
                var _this = $(this);
                if (vl != "") {
                    _this.addClass("form-textbox-entered")
                }else{
                    _this.removeClass("form-textbox-entered")
                }
            })

            $("input").bind('blur', function () {
                var _this = $(this);
                if (_this.val()) {
                    _this.addClass("form-textbox-entered")
                } else {
                    _this.removeClass("form-textbox-entered")
                }
            })

            $("#city").click(function (e) {
                SelCity(this, e);
                console.log("inout", $(this).val(), new Date())
            });

            $('#city-picker3').bind('blur', function () {
                $(this).addClass("form-textbox-entered")
            })

        })

