extends ../public/pug/layouts/main
block head-main
    -var $active = "homePage"

block style-main


block content-main
    .zs-delivery
        .inner-content
            .title-classify.row
                .left 结账
                .right 如需帮助，请拨打 400-666-888
            .delivery-content
                .zs-title 你的送货地址是哪里？
                .address-box
                    .address-title 选择地址：
                    .address-main.row
                        .left.col-md-12
                            .address-default.address-border.row
                                .default-l
                                    .name 王泽祥
                                    .info 上海市，虹口区，广粤路835弄1号楼601室
                                    .phone 17521035241
                                .default-r 默认地址
                            .modify-btn
                                a.d-block(href="javascript:;") 修改地址
                            a.address-new.address-border.js-new-address.active(href="javascript:;")
                                .use 使用新的地址
                            form.new-address-main
                                .form-group
                                    input.form-control(type="text" value="" name="name" id="name")
                                    label.label 您的姓名
                                .form-group
                                    input.form-control(type="text" value="" name="phone" id="phone")
                                    label.label 您的电话
                                .address-new.address-border
                                    .title 省份/城镇/城市/区
                                    select.select-box
                                        option(value="上海市，虹口区") 上海市，虹口区
                                        option(value="上海市，宝山区") 上海市，宝山区
                                        option(value="上海市，静安区") 上海市，静安区
                                .form-group
                                    input.form-control(type="text" value="" name="phone" id="address")
                                    label.label 详细地址


                        .right.col-md-12
                            .attention
                                .attention-title 请注意以下几点：
                                .attention-main
                                    .item.row
                                        .img
                                        .text 我们将使用收件人手机号码来发送有关送货状态更新的短信。
                                    .item.row
                                        .img
                                        .text 我们将使用联系人电话号码来沟通有关订单或付 款方面的事宜。
                                    .item.row
                                        .img
                                        .text 请核实您输入的联系方式是否正确，下单后将无法修改。


                .invoice-box
                    .zs-title 你是否需要开具发票？
                    .invoice-main.row
                        .left.col-md-12
                            .invoice-item.js-no-use.active
                                .use 无需发票
                            .invoice-item.js-use
                                .use 普通发票
                            .invoice-detail
                                .title 选择发票抬头
                                .detail-main
                                    .invoice-item.js-personal.active
                                        .use 个人
                                    .invoice-item.js-other
                                        .use 其他发票抬头
                                form.company-box
                                    .title 请输入详细的发票抬头
                                    .form-group
                                        input.form-control(type="text" value="" name="companyName" id="companyName")
                                        label.label 发票抬头/公司
                                    .form-group
                                        input.form-control(type="text" value="" name="tax" id="tax")
                                        label.label 纳税人识别号 (可选)


                .delivery-bottom.row
                    .btn-main.col-md-12
                        input.submit-btn(type="submit" value="继续支付订单")



block script-main
    script.
        $(function () {
            if($(".js-new-address").length){
                if($('.js-new-address').hasClass('active')){
                    $(".new-address-main").show();
                }
                else{
                    $(".new-address-main").hide();
                }
                $('.js-new-address').click(function () {
                    if($(this).hasClass('active')){
                        $(this).removeClass('active');
                        $(".new-address-main").slideUp(500);
                    }else{
                        $(this).addClass('active');
                        $(".new-address-main").slideDown(500);
                    }
                })
            }

            if ($(".js-use").hasClass('active')) {
                $(".invoice-detail").show();
            } else {
                $(".invoice-detail").hide();
            }

            $(".js-no-use").click(function () {
                $(this).addClass('active');
                $('.js-use').removeClass('active');
                $(".invoice-detail").slideUp(500);
            })
            $(".js-use").click(function () {
                $(this).addClass('active');
                $('.js-no-use').removeClass('active');
                $(".invoice-detail").slideDown(500);
            })

            if($(".js-other").hasClass('active')){
                $(".company-box").show();
            }else{
                $(".company-box").hide();
            }
            $(".js-personal").click(function () {
                $(this).addClass('active');
                $('.js-other').removeClass('active');
                $(".company-box").slideUp(500);
            })
            $(".js-other").click(function () {
                $(this).addClass('active');
                $('.js-personal').removeClass('active');
                $(".company-box").slideDown(500);
            })

        })

