extends ../public/pug/layouts/main
block head-main
    -var $active = ""
block style-main
block content-main
    .order-detail
        .container
            .title.font-weight-bold 你的订单详情
            .product-top.row.align-items-center
                .col-md-8
                    .img
                        img(src="images/img_04.jpg" width="100%")
                .col-md-16.info
                    .name.font-weight-bold 纯天然墨脱石锅
                    .row.justify-content-between
                        .price.font-weight-bold
                            span.font-md.w-title 商品价格
                            span.font-sm.fontArial RMB 3600.00
                        .identifier.color-2
                            span.font-md.w-title 订单编号
                            span.font-sm.fontArial.w-txt W427960922
                    .row.justify-content-between
                        .number.font-weight-bold
                            span.font-md.w-title 购买数量
                            span.font-sm.fontArial 2
                        .date.color-2
                            span.font-md.w-title 下单时间
                            span.font-sm.fontArial.w-txt 2019/03/10
                    .row.justify-content-between
                        .staus.font-weight-bold
                            span.font-md.w-title 待收货
                            span.font-sm.fontArial 2019/03/10
                    .style.row.font-sm.color-2
                        span.w-title 运输方式
                        span 顺丰快递
                    .waybil.row.font-sm.color-2
                        span.w-title 运单号
                        span 19237128319729218739
            .order-content
                .row
                    .col-md-8.order-title.font-weight-bold.col-5 送货详情
                    .col-md-8.paddingLeft.col-12
                        .font-md.font-weight-bold.marginBottom 送货地址：
                        .font-sm.color-2
                            p 上海，虹口区
                            p 广粤路835弄，1号楼601室
                    .col-md-8.col-7
                        .font-md.font-weight-bold.marginBottom 联系信息：
                        .font-sm.color-2
                            p 王泽祥
                            p 17521035241
                .row
                    .col-md-8.order-title.font-weight-bold.col-5 发票
                    .col-md-16.paddingLeft.font-md.color-2.font-weight-bold.col-19 您已选择不开具发票
                .row
                    .col-md-8.order-title.font-weight-bold.col-5 订单备注
                    .col-md-16.paddingLeft.font-md.color-2.font-weight-bold.col-19 录入的备注内容会在订单详情页显示
                .row
                    .col-md-8.order-title.font-weight-bold.col-5 总计
                    .col-md-16.paddingLeft.col-12
                        .freight.font-sm
                            span.color-2.w-title 运费：
                            span.fontArial.font-weight-bold RMB 100.00
                        .price.font-sm.marginBottom
                            span.color-2.w-title 商品价格：
                            span.fontArial.font-weight-bold RMB 3600.00
                        .pay-sytle.font-weight-bold.font-md 微信支付
                .row.total
                    .col-md-8
                    .col-md-16.paddingLeft.d-flex.justify-content-between.font-lg.font-weight-bold
                        div 合计
                        .money.fontArial RMB 3700.00